USE [master]
GO
/****** Object:  Database [app_chat]    Script Date: 03/07/2026 11:30:12 CH ******/
CREATE DATABASE [app_chat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'app_chat', FILENAME = N'D:\sql\MSSQL17.SQLEXPRESS\MSSQL\DATA\app_chat.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'app_chat_log', FILENAME = N'D:\sql\MSSQL17.SQLEXPRESS\MSSQL\DATA\app_chat_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [app_chat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [app_chat]
GO
/****** Object:  Table [dbo].[chat_groups]    Script Date: 03/07/2026 11:30:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat_groups](
	[group_name] [nvarchar](100) NOT NULL,
	[creator] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[group_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[group_members]    Script Date: 03/07/2026 11:30:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[group_members](
	[group_name] [nvarchar](100) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[group_name] ASC,
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[messages]    Script Date: 03/07/2026 11:30:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[messages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sender] [nvarchar](50) NOT NULL,
	[receiver] [nvarchar](100) NULL,
	[group_name] [nvarchar](100) NULL,
	[content] [nvarchar](max) NOT NULL,
	[msg_type] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 03/07/2026 11:30:12 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[full_name] [nvarchar](100) NULL,
	[dob] [date] NULL,
	[university] [nvarchar](150) NULL,
	[email] [varchar](100) NULL,
	[phone] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[chat_groups] ([group_name], [creator]) VALUES (N'gg', N'thai123')
INSERT [dbo].[chat_groups] ([group_name], [creator]) VALUES (N'thai', N'thai123')
GO
SET IDENTITY_INSERT [dbo].[messages] ON 

INSERT [dbo].[messages] ([id], [sender], [receiver], [group_name], [content], [msg_type], [created_at]) VALUES (1, N'thai123', N'Nguyễn Trần Thái', NULL, N'hi', N'TEXT', CAST(N'2026-07-03T20:41:58.383' AS DateTime))
INSERT [dbo].[messages] ([id], [sender], [receiver], [group_name], [content], [msg_type], [created_at]) VALUES (2, N'thai123', N'Nguyễn Trần Thái', NULL, N'helo', N'TEXT', CAST(N'2026-07-03T20:50:59.587' AS DateTime))
INSERT [dbo].[messages] ([id], [sender], [receiver], [group_name], [content], [msg_type], [created_at]) VALUES (3, N'thai123', N'Nguyễn Trần Thái', NULL, N'hi', N'TEXT', CAST(N'2026-07-03T23:08:16.577' AS DateTime))
SET IDENTITY_INSERT [dbo].[messages] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [password], [full_name], [dob], [university], [email], [phone]) VALUES (1, N'thai123', N'123', N'thái', CAST(N'2006-03-06' AS Date), N'uth', N'thainguyent226@gmail.com,', N'0376090574')
INSERT [dbo].[users] ([id], [username], [password], [full_name], [dob], [university], [email], [phone]) VALUES (4, N'thaichien', N'123', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[users] ([id], [username], [password], [full_name], [dob], [university], [email], [phone]) VALUES (5, N'thuc123', N'123', N'Lê Đình Thức', CAST(N'2006-05-15' AS Date), N'huflit', NULL, NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC57297A107F2]    Script Date: 03/07/2026 11:30:13 CH ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[messages] ADD  DEFAULT ('TEXT') FOR [msg_type]
GO
ALTER TABLE [dbo].[messages] ADD  DEFAULT (getdate()) FOR [created_at]
GO
USE [master]
GO
